.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  border: 1px grey solid;
  border-radius: 12px;
  padding: 6px 8px;
}
